#courses {
    border-radius: 5px;
}

#courses > div {
    padding: 30px;
    min-height: 350px;
    position: relative;
}

#courses a, #courses span  {
    border: 1px solid #ddd;
    padding: 5px 20px;
    margin: 5px;
    margin-left: 0px;
    display: inline-block;
    border-radius: 50px;
    font-size: 80%
}

#courses a {
    border: 0px;
    background: #ee2683;
    color: white;
}

#courses p {
    position: absolute;
    bottom: 20px;
    right: 20px
}


#courses h2 {
    font-family: metropolis black;
    margin: 20px;
    margin-top: 15px;
    color: #0433BF
}

#courses > div > i {
    font-size: 400%;
    margin-left: 30px;
    color: #0433BF
}